/* 代码初始化开始 */
body { color: #3c3c3c;font-family: "Microsoft Yahei",'Hiragino Sans GB'; }
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }
.paddingLR20{padding: 0 1.85rem; box-sizing: border-box;}
.fl {
    float: left;
    display: inline;
}
.fr {
    float: right;
    display: inline;
}
.clear {
    height: 0px;
    line-height: 0px;
    clear: both;
}
.textC {
    text-align: center
}
/* -------主体部分------ */
.singlePage5 .D1_banner{
    width: 100%;
    height: 37.5rem;
    position: relative;
}
.singlePage5 .D1_banner>img{
    width: 37.5rem;
    height: 37.5rem;
    position: absolute;
    z-index: 10;
}
.singlePage5 .D1_banner>.bn_content{
    position: absolute;
    top: 0.0rem;
    left: 0.0rem;
}
.singlePage5 .bn_content>img{
    width: 12rem;
    margin-left: 0.75rem;
    margin-top: 0.75rem;
    position: absolute;
    z-index: 11;
}
.singlePage5 .bn_content{
    width: 100%;
}
.singlePage5 .bn_content>p{
    width: 100%;
    padding: 0.0rem 1.5rem;
    font-weight: bolder;
    box-sizing: border-box;
    text-align: center;
}
.singlePage5 .bn_content>p:nth-of-type(1){
    font-size: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    color: #dd0c34;
    margin-top: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.singlePage5 .bn_content>p:nth-of-type(2){
    font-size: 1.6rem;
    color: #2d560d;
    margin-top: 0.25rem;
    overflow: hidden;
}
.singlePage5 .bn_goodsImg{
    width: 37.5rem;
    height: 37.5rem;
}
.singlePage5 .bn_goodsImg>img{
    width: 100%;
    height: 100%;
}
.singlePage5 .bn_price{
    width: 33rem;
    height: 6.5rem;
    position: absolute;
    top: 31rem;
    left: 0;
    z-index: 11;
}
.singlePage5 .bn_price img{
    width: 33rem;
    height: 6.5rem;
}

.singlePage5 .bn_price .goodsPrice{
font-size:1.2rem;
    color:#cdcdcd;
    position: absolute;
    top: 2rem;
    left: 13rem;
    white-space: nowrap;
    overflow: hidden;
    text-decoration: line-through;
}
.singlePage5 .bn_price .curPrice{
    position: absolute;
    top: 4rem;
    left: 14.5rem;
    color: #ffff00;
    font-size: 1.6rem
}
.singlePage5 .bn_price .curPrice2{
    position: absolute;
    top: 3.5rem;
    left: 20.5rem;
    color: #ffff00;
}
.singlePage5 .bn_price .curPrice2 #promotionPrice{
    font-size: 2.5rem;
}

.singlePage5 .goodsTitle img{
    width: 37.5rem;
    height: 22.5rem;
}
.singlePage5 .goodsTitle{
    position: relative;

}
.singlePage5 .goodsTitle>p{
    width: 100%;
    padding: 0.0rem 1.5rem;
    font-weight: bolder;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
}
.singlePage5 .goodsTitle>p:nth-of-type(1){
    font-size: 2.6rem;
  height: 3rem;
  line-height: 3rem;
  color: #dd0c34;
  margin-top: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  top:0.2rem;
}
.singlePage5 .goodsTitle>p:nth-of-type(2){
  font-size: 2rem;
  height: 3rem;
  line-height: 3rem;
  color: #2d560d;
  overflow: hidden;
  position: absolute;
  top:4rem;
 }
.singlePage5 .goodsTitle>p:nth-of-type(3){
    font-size: 1.2rem;
    color: #2d560d;
    margin-top: 0.25rem;
    overflow: hidden;
    position: absolute;
    bottom:1rem;
    font-weight: normal;
}
.singlePage5 .APD1_worry{
    width: 100%;
    text-align: center;
    padding-top: 0.5rem;
}
.singlePage5 .worry_top>img{
    width: 26.0rem;
    height: 5.0rem;
    margin-bottom: 0.5rem;
}
.singlePage5 .worry_top>p{
    width: 100%;
    font-size: 2.0rem;
    text-align: center;
    color: #4e8f0f;
    margin-bottom: 1.0rem;
}
.singlePage5 .worry_top>p:nth-of-type(1){
    height: 4.25rem;
}
.singlePage5 .worry_top>p:nth-of-type(1)>span{
    font-size: 3.2rem;
    font-weight: bolder;
}
.singlePage5 .worry_top>p:nth-of-type(2){
    height: 1.8rem;
    font-size: 1.2rem;
    margin-bottom: 2.0rem;
}
.singlePage5 .APD1_worry>img{
    width: 33.75rem;
    height: 15.0rem;
}
.singlePage5 .APD1_essentialInfo{
    width: 100%;
    padding-top: 1.2rem;
    overflow: hidden;
}
.APD1_essentialInfo .info_title{
    width: 100%;
    height: 6.6rem;
    text-align: center;
    background: url(../images/ApplePage/appleD2_titlebgimg.jpg) no-repeat;
    background-size: 100%;
}
.APD1_essentialInfo .info_title>p:nth-child(1){
    font-size: 2.4rem;
    color: #dd0c34;
}
.APD1_essentialInfo .info_title>p:nth-child(2){
    font-size: 1.3rem;
    color: #666;
    margin-top: 0.5rem;
}
.APD1_essentialInfo .info_content{
    padding-top: 0.5rem!important;
    width: 100%;
}
.APD1_essentialInfo .info_content>img{
    width: 11.3rem;
    height: 11.3rem;
    float: left;
}
.APD1_essentialInfo .info_content>ul{
    float: right;
}
.APD1_essentialInfo .info_content li{
    width: 20.5rem;
    height: 2.25rem;
    line-height: 2.25rem;
    border-bottom: 0.05rem dashed #e0e0e0;
    font-size: 1.5rem;
    color: #333;
    display: flex;
    justify-content: end;
    flex-direction: row;
}
.APD1_essentialInfo .brand_title{
    width: 11rem;
    height: 2.25rem;
    line-height: 2.25rem;
    overflow: hidden;
    display: inline-block;
    float:left;
}
.APD1_essentialInfo .letter5{
    /*letter-spacing: 0.5rem;*/
    width: 9rem;
    height: 2.25rem;
    line-height: 2.25rem;
    overflow: hidden;
    display: inline-block;
    text-align: justify;
    text-align-last:justify;
}

.singlePage5 .APD1_essentialInfo span{
    float: left;
}
.singlePage5 .APD1_essentialInfo input{
    float: left;
    width: 9.5rem;
    height: 2.25rem;
    color: #000;
}
.singlePage5 .APD1_essentialInfo .letter5:after{
    display:inline-block;
    content:'';
    overflow:hidden;
    width:100%;
    height:0;
}
.singlePage5 .APD1_essentialInfo #goodsAttr_05{
    padding-left: 0.25rem;
}
.singlePage5 .APD1_effect{
    width: 100%;
    padding-top: 2.5rem;
}
.singlePage5 .font_title{
    width: 100%;
    height: 6.8rem;
    background: url(../images/ApplePage/appleD2_titleText.png) no-repeat;
    background-size: 100% 100%;
    text-align: center;
}
.singlePage5 .font_title>h3{
    font-size: 2.4rem;
    color: #fff;
    padding-top: 0.5rem;
    margin-bottom: 0.25rem;
    font-weight: normal;
}
.singlePage5 .font_title>p{
    font-size: 1.3rem;
    color: #fff;
}
.singlePage5 .goodsDetail{
    padding:0 2rem;
}
.singlePage5 .singleDetails_title{
  width: 100%;
  height: 3.0rem;
  color: #dd0c34;
  line-height: 3.0rem;
  font-size: 2.5rem;
  text-align: center;
  font-weight: normal;
  padding-top: 2rem;
}
.singlePage5 .singleDetails_content{
  width: 35.0rem;
  margin: auto;
  margin-top: 1.0rem;
  margin-bottom: 1.5rem;
  background: #fff;
  padding: 0.5rem;
  overflow: hidden;
  line-height: 2rem;
  text-align: left;
  font-size: 1.2rem
}
.singlePage5 .singleDetails_content>p{
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
}
.water_footer {
    width: 100%;
    background: #f2f2f4;
    margin-bottom: 4.4rem;
}
.footer_head{
    overflow: hidden;
    height: 7.2rem;
    border-bottom: 2px solid #f8f8f8;
}
.footer_head dl{
    width: 30rem;
    float: left;
    padding-top: 1.5rem;
}
.footer_head dt img{
    width: 100%;
    height: 100%;
}
.footer_head>img{
    width: 3.25rem;
    height: 3.8rem;
    float: right;
    margin-top: 1.0rem;
}
.footer_head dt{
    width: 4.5rem;
    height: 4.5rem;
    margin-right: 0.5rem;
    float: left;
}
.footer_head dd{
    text-align: left;
    padding: 0.5rem 0;
    font-size: 1.2rem;
}
.footer_use{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.footer_use a{
    text-decoration: none;
    width: 100%;
    height: 4.4rem;
    display: block;
}
.footer_use li{
    width: 33.33%;
    height: 4.4rem;
    box-sizing: border-box;
    line-height: 4.4rem;
    text-align: center;
    float: left;
}
.footer_use li:nth-child(1){
    background: #fff;
}
.footer_use li:nth-child(2){
    background: #ff5500;
}
.footer_use li:nth-child(3){
    background: #ff6600;
}
.footer_use li:nth-child(1) span{
    color: #ff6600!important;
}
.footer_use li img{
    vertical-align: middle;
    margin-right: 0.5rem;
    width: 2.0rem;
}
.footer_use li span{
    font-size: 1.7rem;
    color: #fff;
}
/*遮罩*/
.shareWrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .8);
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 999;
}
.shareWrap img {
    width: 100%;
    height: 100%;
}
/* ---------------------------- */
.singlePage5 .paddingLR{
    padding: 0.0rem 2.0rem ;
    box-sizing: border-box;
}

.singlePage5 input{
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    resize: none;
    margin: auto;
}