/* 代码初始化开始 */
body { color: #3c3c3c;font-family: "Microsoft Yahei",'Hiragino Sans GB'; }
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }
.paddingLR20{padding: 0 1.85rem; box-sizing: border-box;}
.fl {
  float: left;
  display: inline;
}
.fr {
  float: right;
  display: inline;
}
.clear {
  height: 0px;
  line-height: 0px;
  clear: both;
}
.textC {
  text-align: center
}
p{
  padding: 0;
  margin: 0;
}
.singlePage11_mqj input{
  outline: none;
  background: inherit;
  border: none;
}
/* 初始化样式结束 */
/* ------------banner--------- */
.singlePage11_mqj{
  width: 100%;
  height: auto;
  background: #fcf0e8;
  
}
.singlePage11_mqj .WkLogo{
    position: absolute;
    top: 1.0rem;
    left: 1.0rem;
    z-index: 10;
    width: 11.45rem!important;
    height: 2.1rem;
}
.singlePage11_mqj .singleBanner{
  width: 100%;
  height: 52.0rem;
  position: relative;
}
.singlePage11_mqj .mqj11_data{
  width: 13.0rem;
  height: 12.5rem;
  position: absolute;
  top: 4.0rem;
  left: 1.0rem;
  z-index: 3;
  background: url(../images/ApplePage/Dymqj11_hongxintitle.png) no-repeat;
  background-size: 100% 100%;
}
.singlePage11_mqj .mqj11_data_text{
  transform:rotate(-20deg);
  -ms-transform:rotate(-20deg);
  -moz-transform:rotate(-20deg);
  -webkit-transform:rotate(-20deg);
  -o-transform:rotate(-20deg);
  color: #fff;
  position: absolute;
  top: 4rem;
  left: 2rem;
  line-height: 2.3rem;
}
.singlePage11_mqj .goodsName{
  width: 35.0rem;
  padding: 0.0rem 1.0rem;
  height: 3.0rem;
  line-height: 3.0rem;
  position: absolute;
  top: 46rem;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 4;
  text-align: center;
  font-size: 3.0rem;
  color: #333;
  overflow: hidden;
}
.singlePage11_mqj .mqj11_data_text>p:nth-child(1){
  font-size: 1.2rem;
}
.singlePage11_mqj .mqj11_data_text>p:nth-child(2){
  font-size: 3.0rem;
}
.singlePage11_mqj .singleBanner .bannerBG{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0.0rem;
  left: 0.0rem;
  z-index: 2;
  }
  .singlePage11_mqj .singleBanner .MgoodsImg{
  width: 32.0rem;
  height: 32.0rem;
  position: absolute;
  top: 10.0rem;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  }
  .singlePage11_mqj .singleBanner .MgoodsImg>img{
  width: 100%;
  height: 100%;
  }

/* 价格 */
.singlePage11_mqj .singlePrice{
  width: 34.0rem;
  height: 34.0rem;
  margin: auto;
  margin-top: 3.5rem;
  position: relative;
}
.singlePage11_mqj .singlePrice>img{
  width: 100%;
  height:100%;
}
.singlePage11_mqj .singlePrice .goodspriceIcon{
  background: url(../images/ApplePage/priceBgImg_single11.png) no-repeat;
  width: 28rem;
  height: 7rem;
  background-size: 100% 100%;
  position: absolute;
  top: 26rem;
  left: 1rem;
  padding-top: 1rem;
  box-sizing: border-box;
  line-height: 1.8rem;
}
.singlePage11_mqj .goodspriceIcon>p{
    color: #fff;
    font-size: 1.2rem;
    margin-left: 10rem;
    white-space: nowrap;
    text-align: left;
}
.singlePage11_mqj .goodspriceIcon>p:nth-child(2){
  text-decoration: line-through;
}
.singlePage11_mqj .goodspriceIcon .promotionPrice{
    font-size: 2.0rem;
}
/* 基本信息 */
.singlePage11_mqj .singleInfo{
 width: 100%;
 position: relative;
  z-index: 7;
}
.singlePage11_mqj .singleInfo .singleInfo_title{
  width: 100%;
  height: 3.5rem;
  line-height: 3.5rem;
  font-size: 2.5rem;
  text-align: center;
  font-weight: normal;
}
.singlePage11_mqj .singleInfo .singleInfo_slogan{
   width: 18.0rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.2rem;
    text-align: center;
    color: #393939;
    margin: auto;
}
.singlePage11_mqj .singleInfo .singleInfo_content{
  width: 35.0rem;
  box-sizing: border-box;
  margin: auto;
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
}
.singlePage11_mqj .singleInfo_content>img{
  width: 11.5rem;
  height: 11.5rem;
  margin-right: 2.0rem;
}
.singlePage11_mqj .singleInfo_content>ul{
  width: 16rem;
  display: flex;
  flex-direction: column;
}
.singlePage11_mqj .singleInfo_content>ul li{
  font-size: 1.2rem;
  line-height: 2.25rem;
  height: 2.25rem;
  display: flex;
  justify-content: end;
  flex-direction: row;
  border-bottom: 0.05rem dashed #942323;
}
.singlePage11_mqj .singleInfo_content>ul .last_li{
  border-bottom:none;
}
.singlePage11_mqj .singleInfo_content>ul input{
  width: 7.0rem;
  font-size: 1.2rem;
}
.singlePage11_mqj .colorYellow{
  color: #cc0000;
}
.singlePage11_mqj .singleDetails{
  width: 100%;
  position: relative;
  margin-top: 3.0rem;
}
.singlePage11_mqj .singleDetails_title{
  width: 100%;
  height: 3.0rem;
  line-height: 3.0rem;
  font-size: 2.5rem;
  text-align: center;
  font-weight: normal;
}
.singlePage11_mqj .singleDetails_content{
  width: 35.0rem;
  margin: auto;
  margin-top: 1.0rem;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  overflow: hidden;
  line-height: 2rem;
  text-align: left;
  font-size: 1.2rem

}
.singlePage11_mqj .singleDetails_content>p{
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
}
.singlePage11_mqj .letter5{
  width: 9rem;
  text-align: justify;
  text-align-last: justify;
  overflow: hidden;
    text-justify: distribute-all-lines;
    -moz-text-align-last: justify;
    -webkit-text-align-last: justify;
}
/* ----尾部--- */
.singlePage11_mqj .water_footer {
    width: 100%;
    background: #f2f2f4;
    margin-bottom: 4.4rem;
}
.singlePage11_mqj .footer_head{
    overflow: hidden;
    height: 7.2rem;
    border-bottom: 0.1rem solid #f8f8f8;
}
.singlePage11_mqj .footer_head dl{
    width: 30rem;
    float: left;
    padding-top: 1.5rem;
}
.singlePage11_mqj .footer_head dt img{
    width: 100%;
    height: 100%;
}
.singlePage11_mqj .footer_head>img{
    width: 3.25rem;
    height: 3.8rem;
    float: right;
    margin-top: 1.0rem;
}
.singlePage11_mqj .footer_head dt{
    width: 4.5rem;
    height: 4.5rem;
    margin-right: 0.5rem;
    float: left;
}
.singlePage11_mqj .footer_head dd{
    text-align: left;
    padding: 0.5rem 0;
    font-size: 1.2rem;
}
.singlePage11_mqj .footer_use{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 111;
}
.singlePage11_mqj .footer_use a{
    text-decoration: none;
}
.singlePage11_mqj .footer_use li{
    width: 33.33%;
    height: 4.4rem;
    box-sizing: border-box;
    line-height: 4.4rem;
    text-align: center;
    float: left;
}
.singlePage11_mqj .footer_use li:nth-child(1){
    background: #fff;
}
.singlePage11_mqj .footer_use li:nth-child(2){
    background: #ff5500;
}
.singlePage11_mqj .footer_use li:nth-child(3){
    background: #ff6600;
}
.singlePage11_mqj .footer_use li:nth-child(1) span{
    color: #ff6600!important;
}
.singlePage11_mqj .footer_use li img{
    vertical-align: middle;
    margin-right: 0.5rem;
    width: 2.0rem;
}
.singlePage11_mqj .footer_use li span{
    font-size: 1.7rem;
    color: #fff;
}
.singlePage11_mqj .letter2{
    letter-spacing: 1rem;
}
.singlePage11_mqj .letter3{
    letter-spacing: 0.4rem;
}
.singlePage11_mqj .paddingLR{
    padding: 0.0rem 2.0rem ;
    box-sizing: border-box;
}
/* --- 分享遮罩层 --- */
.shareWrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .8);
    position: absolute;
    top: 0;
    bottom:0;
    z-index: 999;
}
.shareWrap img {
    width: 100%;
    height: 100%;
}